@font-face {
  font-family: "Galano Grotesque";
  src: url("../../fonts/galanogrotesque-medium.otf");
}
.mainNav {
  padding: 1px;
  margin-bottom: 0%;
  background-color: #146eb4;
}

.brand-icon {
  height: 50px;
  margin-left: 20%;
}
.sign-in-button {
  margin-right: 20px;
  color: white;
  text-decoration: none;
  margin-top: 8px;
  font-size: 18px;
}
.sign-in-button:active {
  color:inherit;
  text-decoration: none;
}
.dukaan-btn {
  color: #146eb4;
  width: 200px;
  height: 40px;
  font-size: larger;
  border-radius: 5px;
  border: 0px;
  font-family: "Galano Grotesque";
}

.navbar-container-1{
  display: flex;
  margin-top:20px;
  margin-left:9% !important;
  margin-right:9% !important;
}

.img-brand-nav{
  margin: auto;
}

.collapse-div{
  margin: auto;
}