@font-face {
  font-family: "Galano Grotesque semibold";
  src: url("../../fonts/galanogrotesque-semibold.otf");
}

@font-face {
  font-family: "Galano Grotesque regular";
  src: url("../../fonts/galanogrotesque-regular.otf");
}

@font-face {
  font-family: "Galano Grotesque medium";
  src: url("../../fonts/galanogrotesque-medium.otf");
}
.feature {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex: auto;
  margin-top: 50px;
 
  justify-content: center;

  border-color: black;
}

.feature-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
  margin: 1%;
  border-radius: 2px;
}

.imgIcon {
  margin-bottom: 20px;
  height: 70px;
  
}


.ptext {
  font-family: "Galano Grotesque regular";
  font-weight: normal;
  text-align: center;
}

.feature-heading-2{
  font-family: "Galano Grotesque medium";
}